.sobremi {
  display: flex;
  justify-content: center; /* esto centra el elemento */
}

.container-sobremi {
  display: flex;
  width: 50%; /* ancho del contenedor */
  padding: 2rem;
  margin-top: 5rem; /* margen a lo alto */
  line-height: 2.5rem; /* espaciado entre los parrafos */
  font-size: large; /* tamaño de la fuente */
  color: azure;
  gap: 5rem;
  align-items: center;
}

.img-perfil {
  border-radius: 50%;
}

/* Media Queries agrupadas */

/* Moviles (Pantallas pequeñas, hasta 767px) */
@media (max-width: 767px) {
  .container-sobremi {
    width: 100%;
    padding: 1;
    margin-top: 1rem; /* margen a lo alto */
    line-height: 2.5rem; /* espaciado entre los parrafos del texto */
    font-size: small;
    flex-direction: column;
  }  
}

/* Tablets (Pantallas medianas, entre 768px y 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .container-sobremi {
        width: 75%;
  }
}

/* Escritorio (Pantallas anchas, a partir de 1024px) */
@media (min-width: 1024px) {
   .container-sobremi {
        width: 75%;
  }
}